.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(400px + 120px);
  padding-top: 100px;
  width: 100%;
  background-color: rgb(241, 159, 16);
  background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
  color:antiquewhite;
}

.main-header img {
  height: 200px;
  margin: -50px;
}

.profile-name span {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 100;
}