/* Smartphone Styles */
@media only screen and (max-width: 767px) {

  .main-header img {
    max-width: 200px;
  }

  .profile-name {
    margin-top: 50px;
  }

  body {
    font-size: 1em;
  }
  
}


/* Tablet Styles */
@media only screen and (min-width: 768px) {
  nav {
    background-color: #059297;;
  }
  .container{
    font-size: 0.8em;
  }
}
  

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  nav {
    background-color: #4056A1; 
  }

  .header-and-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-top: 120px;
  }

  .main-header {
    width: 25%;
    height: 400px;
    margin-top: 100px;
  }

    .main-header img {
      max-width: 200px;
    }

  .container {
    width: 65%;
    margin: 100px 0px;
    font-size: 0.75em;
    
  }

  #tweet-container article {
    height: 215px;
  }

}